<a href="/users">All Users</a>
<a href="/profiles">Dashboard</a>
<a href="/sessions/<%= session[:id] %>" data-method="delete">Log Out</a>

<h2>Users you may connect with:</h2>

<table>
  <tr>
    <th>Name</th>
    <th>Send Invite?</th>
  </tr>
  <% @users.each do |person| %>
    <tr>
      <td><a href="/users/<%= person.id %>"><%= person.name %></a></td>
      <td><a href="/profiles/new/<%= person.id %>">Invite</a></td>
    </tr>
  <% end %>
</table>
