<a href="/users">All Users</a>
<a href="/profiles">Dashboard</a>
<a href="/sessions/<%= session[:id] %>" data-method="delete">Log Out</a>

<h2>Hello <%= @user.name %></h2>

<p>"<%= @user.description %>"</p>
